---
interface Props {
    href: string
    target?: string
    rel?: string
    variant?: 'primary' | 'transparent'
}

const { href, target = '', rel = '', variant = 'primary' } = Astro.props
---

<a class={variant} href={href} target={target} rel={rel}>
    <slot />
    <span><slot name="icon" /></span>
</a>

<style>
    .primary {
        color: var(--default-primary-color);
        background: transparent;
    }

    .transparent {
        color: #fff;
        background: transparent;
    }

    a {
        text-decoration: none;
        padding: 8px 16px;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 4px;
        transition: all var(--animation);
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        width: fit-content;
    }

    a:hover {
        background-color: var(--default-primary-color);
        color: #fff;
    }
    a.transparent:hover {
        background-color: var(--dark-primary-color);
        color: #fff;
    }

    a span {
        margin-left: 8px;
        width: 16px;
        height: 16px;
        fill: currentColor;
    }
</style>
