---
const { color, size, inverse } = Astro.props
---

<div class="chip" data-size={size} data-inverse={inverse}>
    <slot />
</div>

<style define:vars={{ color }}>
    .chip {
        display: inline-block;
        background-color: var(--color, var(--background));
        color: white;
        font-size: 1em;
        line-height: 1.2;
        padding: 1px var(--s-1) 3px;
        border-radius: 48px;
        border: 1px solid var(--color, var(--line));

        &[data-inverse='true'] {
            color: var(--text);
        }

        &[data-size='sm'] {
            font-size: 0.8em;
            padding: 1px var(--s-1) 3px;
        }

        &[data-size='lg'] {
            font-size: 1.2em;
            padding: 2px var(--s0) 4px;
        }
    }
</style>
