---
import LayoutWithTitle from '../layouts/LayoutWithTitle.astro'
---

<LayoutWithTitle htmlTitle="Page introuvable" title="Page introuvable">
    <p class="fs2">La page que vous recherchez n'existe pas.</p>
    <p class="text-muted">Vérifiez l’URL ou retournez à la <a href="/">page d’accueil</a>.</p>
</LayoutWithTitle>
