---
import type { OpenPlannerType } from '../type'
import Layout from '../layouts/Layout.astro'
import SponsorsBlock from '../components/SponsorsBlock.astro'
import FooterBlock from '../components/footer/FooterBlock.astro'
import Menu from '../components/Menu.astro'

const OPENPLANNER_URL = import.meta.env.OPENPLANNER_URL
const response = await fetch(OPENPLANNER_URL)
const openPlannerData: OpenPlannerType = await response.json()
---

<Layout title="SunnyTech">
    <Menu />
    <main>
        <h1>SunnyTech</h1>

        <SponsorsBlock sponsorCategories={openPlannerData.sponsors} />
    </main>

    <FooterBlock />
</Layout>

<style></style>
