---
import ContentContainer from '../ui-elements/ContentContainer.astro'
import Stack from '../ui-elements/Stack.astro'

const stats = {
    attendees: {
        label: 'Participants',
        number: '550',
    },
    days: {
        label: 'Jours',
        number: '2',
    },
    sessions: {
        label: 'Sessions',
        number: '85',
    },
    tracks: {
        label: 'Tracks',
        number: '5',
    },
}
---

<ContentContainer spaceBlock="4rem">
    <Stack space="1.5rem">
        <h2>Contenu</h2>
        <p>
            Plusieurs conférences et ateliers en parallèle sur 2 journées, sujets transverses allant des outils,
            méthodologies de conception et développement logiciel jusqu’à la gestion de produit et notamment
            l’expérience utilisateur.
        </p>
        <p>
            Les valeurs que porte Sunny Tech sont définies et partagées par ses membres, vous pourrez les retrouver le
            jour de l'évènement.
        </p>
    </Stack>

    <div class="statistics-block">
        {
            Object.entries(stats).map(([_, stat]) => (
                <div>
                    <div class="numbers">{stat.number}</div>
                    <div class="label">{stat.label}</div>
                </div>
            ))
        }
    </div>
</ContentContainer>

<style>
    .statistics-block {
        width: 100%;
        display: grid;
        gap: 2rem 1rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .numbers {
        font-size: var(--fs4);

        @media (min-width: 640px) {
            font-size: var(--fs5);
        }

        &::after {
            content: '';
            display: block;
            height: max(0.125rem, 2px);
            width: 4rem;
            background-color: var(--brand-solid);
        }
    }

    .label {
        margin-top: 0.25rem;
    }
</style>
