---
const url = import.meta.env.SITE
---

<footer class="nav-inline">
    <a href={url} target="_blank" rel="noopener noreferrer">
        <img class="footer-logo" src="/logos-sunnytech/logo-monochrome.svg" alt="SunnyTech" loading="lazy" />
    </a>
</footer>

<style>
    .nav-inline {
        margin: 0 20px;
        display: flex;
        justify-content: center;
    }

    .copyright {
        padding: 15px 0 0;
        float: left;
    }

    .footer-logo {
        width: 120px;
        height: 80px;
        object-fit: contain;
    }

    a {
        color: var(--footer-text-color);
        padding-bottom: 2px;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    @media (min-width: 768px) {
        .nav-inline {
            margin: 15px 0;
        }
    }

    @media (min-width: 505px) {
        .copyright {
            margin: 0;
            padding: 15px 0 0 0;
            float: right;
            text-align: right;
        }

        .coc {
            display: inline-flex;
        }
    }
</style>
