---
const routeName = Astro.url.pathname
const FAQ_LINK = 'https://www.sunny-tech.io/faq'

const navigation = [
    { label: 'Home', route: '/' },
    { label: 'Team', route: '/team' },
    { label: 'Code de conduite', route: '/coc' },
    { label: 'FAQ', route: FAQ_LINK },
]
---

<header id="site-header" class:list={['header-toolbar']} data-transparent="true">
    <div class="header">
        <div class="logo-container">
            <a href="/" class="toolbar-logo" title="SunnyTech"></a>
        </div>

        {
            (
                <nav class="nav-items">
                    {navigation.map((nav) => (
                        <a href={nav.route} class:list={['nav-item', { active: routeName === nav.route }]}>
                            {nav.label}
                        </a>
                    ))}
                </nav>
            )
        }

        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
            <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" viewBox="0 0 24 24">
                <path fill="currentColor" d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"></path>
            </svg>
        </label>
        <div class="nav-drawer">
            {
                (
                    <nav class="nav-items">
                        {navigation.map((nav) => (
                            <a href={nav.route} class:list={['nav-item', { active: routeName === nav.route }]}>
                                {nav.label}
                            </a>
                        ))}
                    </nav>
                )
            }
        </div>
    </div>
</header>

<script>
    window.addEventListener('scroll', () => {
        const header: HTMLElement | null = document.querySelector('#site-header')

        if (header) {
            header.dataset.transparent = (document.documentElement.scrollTop === 0).toString()
        }
    })
</script>

<style>
    .header-toolbar {
        z-index: 2;
        border-bottom: 1px solid var(--divider-color);
        background-color: var(--primary-background-color);
        transition:
            background-color var(--animation),
            border-bottom-color var(--animation),
            color var(--animation);
        color: var(--hero-text-color, var(--primary-text-color));
        position: sticky;
        top: 0;
        left: 0;
        right: 0;

        &[data-transparent='true'] {
            border-bottom: 0;
            background-color: transparent;
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: var(--max-container-width);
        margin: 0 auto;
        padding: 7px 16px;
        min-height: 64px;
    }

    .toolbar-logo {
        display: block;
        width: 150px;
        height: 32px;
        background-color: var(--default-primary-color);
        transition: background-color var(--animation);
        mask: url('/logos-sunnytech/logo-monochrome.svg') no-repeat;
        mask-size: contain;
    }

    .nav-items {
        display: none;

        @media (min-width: 640px) {
            display: flex;
            gap: 4px;
        }
    }

    .nav-item {
        font-size: 0.85rem;
        padding: 8px 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;
        white-space: nowrap;
        transition: border-color var(--animation);
        cursor: pointer;
        font-weight: 600;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom-color: var(--default-primary-color);
        }

        &.active {
            color: var(--default-primary-color) !important;
            border-bottom-color: var(--default-primary-color) !important;
            font-weight: 700;
        }

        @media (min-width: 640px) {
            padding: 12px 14px;
            font-size: 1rem;
        }
    }

    .nav-trigger {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    label[for='nav-trigger'] {
        width: 24px;
        height: 24px;
        cursor: pointer;
        position: relative;
        z-index: 1100;
        border-radius: 4px;

        .nav-trigger:focus-visible + & {
            box-shadow: 0 0 0 2px currentcolor;
        }

        @media (min-width: 640px) {
            display: none;
        }
    }

    .nav-drawer {
        position: fixed;
        z-index: 1000;
        right: -200px;
        background-color: var(--nav-drawer-bg-color, rgba(255, 255, 255, 0.9));
        transition: right var(--slide-animation);

        .nav-trigger:checked ~ & {
            right: 0;
            bottom: 0;
            top: 0;
            padding: 60px 32px;

            .nav-items {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
            }

            .nav-item {
                padding: 12px 12px 12px 0;
            }
        }

        @media (min-width: 640px) {
            display: none;
        }
    }

    .profile-image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
    }

    .profile-details .profile-image {
        margin-right: 16px;
        width: 48px;
        height: 48px;
    }

    .profile-name,
    .profile-email {
        font-size: 14px;
        display: block;
        white-space: nowrap;
        color: var(--secondary-text-color);
    }

    .profile-action {
        margin-top: 4px;
        text-transform: uppercase;
        color: var(--default-primary-color);
        font-size: 14px;
        cursor: pointer;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
