---
import Cluster from '../ui-elements/Cluster.astro'

const url = import.meta.env.SITE
---

<div>
    <a href={url} target="_blank" rel="noopener noreferrer">
        <img class="footer-logo" src="/logos-sunnytech/logo-monochrome.svg" alt="SunnyTech" loading="lazy" />
    </a>
</div>

<style>
    .footer-logo {
        margin: 0 auto;
        width: 7.5rem;
        height: 5rem;
        object-fit: contain;
    }
</style>
