---
import Cluster from '../ui-elements/Cluster.astro'

const socials = [
    { name: 'twitter', url: 'https://twitter.com/sunnytech_mtp' },
    { name: 'linkedin', url: 'https://www.linkedin.com/company/sunny-tech-event' },
    { name: 'Bluesky', url: 'https://bsky.app/profile/sunnytech.bsky.social' },
]
---

<div class="text-uppercase fw-medium">
    <Cluster justify="space-between">
        <span>Suit notre <a href="/blog">blog</a></span>

        <Cluster space="1rem">
            <span>Suivez nous</span>
            <ul class="list-inline">
                {
                    socials.map(({ name, url }) => (
                        <li class="list-inline-item">
                            <a href={url} target="_blank" rel="noopener">
                                {name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </Cluster>

        <a href="mailto:contact@sunny-tech.io">Envoyez-nous un email</a>
    </Cluster>
</div>
