---
import Layout from './Layout.astro'
import Separator from '../components/ui-elements/Separator.astro'

interface Props {
    title: string
    htmlTitle?: string
    description?: string
    subDescription?: string
}

const { title, htmlTitle, description, subDescription } = Astro.props

const titleHtml = htmlTitle || title
---

<Layout title={titleHtml}>
    <div class="container">
        <h1>{title}</h1>
        {description && <p>{description}</p>}
    </div>
    <Separator bottomMargin={!subDescription} />
    {
        subDescription && (
            <div class="subDescriptionContainer">
                <div class="container">
                    <p>{subDescription}</p>
                </div>
            </div>
        )
    }
    <div class="container">
        <slot />
    </div>
</Layout>

<style>
    .container {
        max-width: var(--max-container-width);
        margin: 0 auto;
        padding: 64px 12px;
    }

    .subDescriptionContainer {
        background-color: var(--secondary-background-color);
    }

    h1 {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
</style>
